@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC');


body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
}

main {
    position: relative;
    overflow: hidden;
    
}
  
ul {
      list-style: none;
}

.grid-container {
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("/img/laptop.jpg");
    /*- Genrate a block-level grid -*/
    display: grid;
    /*- Grid Size -*/
    width: 100vw;
    height: 100vh;
    /*- Define grid's columns and rows -*/
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
    /*- Set grid line size -*/
    grid-gap: 10px 10px;
    /*- Center Grid items -*/
    place-items: center;
    justify-content: center;
    /*- auto place items in rows -*/
    grid-auto-flow: column;
}

.header-logo {
    /*- General Styling -*/
    margin: 0.1em;
    padding: 0.2em;
    /*- Grid Item Column Location -*/
    grid-column: 3/4;
    /*- Grid Item Row Location -*/
    grid-row: 1/2;
    /*- Aligns a grid item inside a cell along the row axis  -*/
    justify-self: center;
    /*- Aligns a grid item inside a cell along the column axis  -*/
    align-self: center;
}

.logo {
    max-width: 150px;
    max-height: 50px;
}

.header-menu {
    /*- Grid Item Column Location -*/
    grid-column: 1/2;
    /*- Grid Item Row Location -*/
    grid-row: 1/2;
    /*- Aligns a grid item inside a cell along the row axis  -*/
    justify-self: center;
    /*- Aligns a grid item inside a cell along the column axis  -*/
    align-self: center;
}

.cover-img {
    max-width: 100vw;
    max-height: 100vh;
    background-size:  cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center-content {
    /*- Grid Item Column Location -*/
    grid-column: 2/3;
    /*- Grid Item Row Location -*/
    grid-row: 2/3;
    /*- Aligns a grid item inside a cell along the row axis  -*/
    justify-self: center;
    /*- Aligns a grid item inside a cell along the column axis  -*/
    align-self: start;
    text-align: center;
}

.center-text {
    font-size: 1.5em;
    font-family: "Roboto Slab", sans-serif;
    color: #444;
    padding: 20px;
}

.heading {
    font-size: 4em;
    color: black;
    text-transform: uppercase;
    font-family: 'Holtwood One SC', serif;
}

.heading span {
    color: #D12F2F;
}

.footer-center {
    /*- Grid Item Column Location -*/
    grid-column: 2/3;
    /*- Grid Item Row Location -*/
    grid-row: 3/4;
    /*- Aligns a grid item inside a cell along the row axis  -*/
    justify-self: center;
    /*- Aligns a grid item inside a cell along the column axis  -*/
    align-self: center;
}

.footer-text {
    font-size: .8em;
    color: rgba(0, 0, 0, 0.473);
    font-family: "Roboto Slab", sans-serif;
}

.footer-text span {
    color: rgba(209, 47, 47, 0.514);
    font-family: 'Roboto Slab', san-serif;
}
.footer-logo {
    max-width: 80px;
    max-height: 15px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}