@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.btn-cta {
    display: inline-block;
    background-image: none;
    border: none;
    background-color: transparent;
    padding-bottom: 7px;
    position: relative;
    cursor: pointer;
    font-size: .8em;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: .5em;
  }

.btn-primary {
    background-color: #D12F2F;
    color: black;
    border-radius: .5em;
    border: 2px solid #D12F2F;
    padding: 7px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}